*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  .container{

    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./assets/university-banner.jpeg);
    background-position: center;
    background-size: cover;

  }
  .navbar{
    
    text-align: right;
    align-items: center;
    
    
  }
  .navbar ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    position: relative;
    transition: 0.5s;
   
  }
  .navbar ul li a{
    text-decoration: none;
    color: beige;
    cursor: pointer;
 
  }
  .navbar ul li::after{
  content: '';
  height: 1.5px;
  width: 0;
  background: blue;
  position: absolute;
  bottom: -1.5px;
  right: 18px;
  transition: 0.5s;
 

  }
  .navbar ul li:hover::after{
   width: 50px;
   bottom: -1.5px;
  right: 18px;
  
  }
.main{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: auto;

}
.main h1{
text-transform: capitalize;
color: aqua;
font-size: 100px;
}
.main p{
  font-style: italic;
  color: blanchedalmond;
}
.send{
    margin-top: 100px;
   
}
.courses{
    text-align: center;
    margin-top: 20px;

}
.courses h1{

    text-decoration: underline;
    color: aqua;
    font-style: italic;
    text-transform: capitalize;
}
.cards{
 display: flex;
 justify-content: center;
 
}
.card1{
 background-color: white;
 height: 400px;
 width: 400px;
 margin: 50px;
 border: aqua solid;
   border-radius: 15px;
 
}
.image{
  background-color: aqua;
  background-image: url(./assets/course-1.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.image1{
  background-color: aqua;
  background-image: url(./assets/course-6.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.image2{
  background-color: aqua;
  background-image: url(./assets/course-8.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.cards h1{
  text-align: center;
  font-style: italic;
  color: darkturquoise;
  text-transform: capitalize;

}
.cards p{
  padding-left: 10px;
}
.card1:hover:hover {
  background-color: rgba(0, 0, 0, 0.207);
 cursor: pointer;
 transform: scale(1.03);

}








.contact{
  text-align: center;
  font-style: italic;
  color: aqua;

}
.contact h1{
  text-decoration: underline;
}
.contact p{
  height: 50px;
  margin-top: 20px;
  color: black;
}
.link{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
}
.link a{
  color: black;
  text-decoration: none;
  border: solid aqua;
}
.link:hover{
  
  margin-right: auto;

  transform: scale(1.55);
}
.about{
  text-align: center;
  color: yellowgreen;
  font-style: italic;
}
.about h1{
  font-size: 50px;
  text-transform: capitalize;
}
.aboutus{
  display: flex;
  justify-content: center;
  margin-top: 70px;

}
.about1{
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 50px;
  border: aqua solid;
    border-radius: 15px;
}
.image4{
  background-color: aqua;
  background-image: url(./assets/course-2.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.image5{
  background-color: aqua;
  background-image: url(./assets/contact-promotion.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.image6{
  background-color: aqua;
  background-image: url(./assets/course-3.jpeg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
.about1 h1{
  text-align: center;
  font-style: italic;
  color: darkturquoise;
  text-transform: capitalize;
}
.h1{
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  color: aqua;
  
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


.contact.html {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.bg-image {
  background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}